$button-primary__svg-icon-size: 20px

.button-primary
    appearance: none
    padding: $base-spacing-unit
    text-transform: uppercase
    border: solid 1px $palette-base-ui

.button-primary__svg-icon
    display: block
    width: $button-primary__svg-icon-size
    height: $button-primary__svg-icon-size
