$header__height      : $header-height
$header__line-height : 1.3
$header__font-size   : 20px
$header__spacing-y   : ($header-height - $header-height--inner) / 2

.header
    position: relative
    height: $header__height
    padding: $header__spacing-y 0
    overflow: hidden
    background: $palette-shade-zeta
    color: #fff
    // box-shadow: 0 0 5px 0px rgba(0,0,0,.5)
    z-index: 3

.header__title
    font-size: $header-height--inner / $header__line-height
    font-weight: 300
    line-height: $header__line-height
    text-transform: uppercase
