.modal
    position: absolute
    top: 0
    bottom: 0
    left: 0
    right: 0
    background-color: rgba(255, 255, 255, .95)
    z-index: 10
    transition: all 0.5s ease-in-out
    opacity: 0
    pointer-events: none

    &.is-active
        opacity: 1
        pointer-events: all

.modal__box
    position: absolute
    left: 50%
    top: 50%
    opacity: 0
    transform: translate3d(-50%, -30%, 0)
    transition: all 0.75s ease-in-out

    .modal.is-active &
        opacity: 1
        transform: translate3d(-50%, -50%, 0)
        animation: modal-anim
        animation-duration: 0.75s
        animation-iteration-count: 1



@keyframes modal-anim
    from
        opacity: 0
        transform: translate3d(-50%, -30%, 0)
    to
        opacity: 1
        transform: translate3d(-50%, -50%, 0)
