$social-icon__size: 40px

.social-icon
    width: $social-icon__size
    height: $social-icon__size
    border: solid 1px #869dd0
    box-shadow: 0 8px 5px -3px rgba(0,0,0,.1)
    border-radius: 3px
    transition: opacity 0.25s ease-in-out

    &:hover
        opacity: .9
