.visualiser
    position: absolute
    left: 0
    top: 0
    right: 0
    padding: 5px
    background-color: $palette-alpha
    opacity: 1
    transition: all .25s ease-in-out
    user-select: none
    pointer-events: none

    &.is-inactive
        transform: translateY(10%)
        opacity: 0

.visualiser__msg
    text-align: center
    color: $palette-shade-gamma
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
    transition: all .25s ease-in-out
    opacity: 0

    .visualiser.is-inactive &
        opacity: 1

.visualiser__canvas
    display: block
