{
    "plugins": [
        "ramda",
        "transform-class-properties"
    ],
    "presets": [
        ["es2015", { "modules": false }],
        "react",
        "stage-0"
    ],
    "env": {
        "test": {
            "plugins": [
                "transform-class-properties",
                "dynamic-import-node"
            ],
            "presets": [
                ["es2015"],
                "react",
                "stage-0"
            ],
        }
    }
}
