/* ----------------------------------------------

	Based on ITCSS by Harry Roberts
	https://speakerdeck.com/dafed/managing-css-projects-with-itcss

	1. Settings 	- Variables, config.
	2. Tools 		- Mixins, functions
	3. Generic 		- Normalize, reset, * {}
	4. Base 		- Unclassed HTML rules
	5. Objects 		- Cosemetic-free design patterns
	6. Components 	- Chunks of UI
	7. Trumps 		- Helpers and overrides

---------------------------------------------- */

/* ----------------------------------------------
	1. Settings
---------------------------------------------- */ 

	@import '1-settings/palette';
	@import '1-settings/fonts';
	@import '1-settings/breakpoints';
	@import '1-settings/content-structure';
	@import '1-settings/debug';


/* ----------------------------------------------
	2. Tools
---------------------------------------------- */ 

	@import '2-tools/generic';
	@import '2-tools/mediaqueries';
	@import '2-tools/units';


/* ----------------------------------------------
	3. Generic
---------------------------------------------- */ 

	@import '3-generic/normalize';
	@import '3-generic/generic';
	@import '3-generic/clearfix';
	@import '3-generic/debug';


/* ----------------------------------------------
	4. Base
---------------------------------------------- */ 

	@import '4-base/global';
	@import '4-base/headings';
	@import '4-base/shared-margins';
	@import '4-base/fonts';
	@import '4-base/paragraphs';
	@import '4-base/links';
	@import '4-base/lists';
	@import '4-base/tables';


/* ----------------------------------------------
	5. Objects
---------------------------------------------- */ 

	@import '5-objects/animations';
	@import '5-objects/grids';
	@import '5-objects/content-section';
	@import '5-objects/justified-section';
	@import '5-objects/lists';
	@import '5-objects/pseudo';
	@import '5-objects/icons';
	@import '5-objects/expandable';
	@import '5-objects/position';
	@import '5-objects/media';
	@import '5-objects/text';
	@import '5-objects/slider';


/* ----------------------------------------------
	6. Components
---------------------------------------------- */ 

	@import '6-components/breadcrumb';
	@import '6-components/buttons';
	@import '6-components/footer';
	@import '6-components/forms';
	@import '6-components/header';
	@import '6-components/inner-content';
	@import '6-components/layout-structure';
	@import '6-components/lightbox';
	@import '6-components/lists';
	@import '6-components/logo';
	@import '6-components/page';
	@import '6-components/pagination';
	@import '6-components/search-results';
	@import '6-components/set-panel';
	@import '6-components/share-popup';
	@import '6-components/sidebar';
	@import '6-components/side-menu';
	@import '6-components/tables';
	@import '6-components/title';
	@import '6-components/workoutlist';
	@import '6-components/palette';


/* ----------------------------------------------
	7-trumps
---------------------------------------------- */ 

	@import '7-trumps/helper';

