$palette-alpha         : #333
$palette-beta          : rgb(239, 108, 91)
$palette-gamma         : rgb(166, 188, 24)

$palette-alpha-dark    : darken($palette-alpha, 5%)

$palette-shade-alpha   : #fcfcfc
$palette-shade-beta    : #eee
$palette-shade-gamma   : #999
$palette-shade-delta   : #666
$palette-shade-epsilon : #424242
$palette-shade-zeta    : #1e1e1e

$palette-base-ui       : #ccc
$palette-base-text     : $palette-shade-epsilon
$palette-base-bg       : $palette-shade-beta

$palette-negative      : $palette-beta
$palette-positive      : $palette-gamma
