$base-font-size: 		16px;
$base-line-height: 		1.6;

$mega-size: 			55px;
$kilo-size:      	   	28px;

$h1-size:        	   50px; 
$h2-size:        	   25px; 
$h3-size:        	   20px; 
$h4-size:        	   17px; 
$h5-size:        	   15px; 
$h6-size:      	  	   13px; 

$milli-size:   		    12px;
$micro-size:   		    10px;

$base-ui-color:  	   	$palette--grey-med;

$base-font-family: 				'Montserrat', sans-serif;
$base-font-family--secondary:	$base-font-family;
$base-font-family--icons: 		'icomoon';