.rel {
	position: relative !important;
}

.w-auto{
	width: auto !important;
}

.disabled{
	display: none !important;
}

.mb0{
	margin-bottom: 0 !important;
}

.dib{
	display: inline-block !important;
}

.mb0{
	margin-bottom: 0 !important;
}

.mb05{
	margin-bottom: rem($base-spacing-unit / 2) !important;
}

.mb1{
	margin-bottom: rem($base-spacing-unit) !important;
}

.mb2{
	margin-bottom: rem($base-spacing-unit * 2) !important;
}

.mt0{
	margin-top: 0 !important;
}

.mt1{
	margin-top: rem($base-spacing-unit) !important;
}

.mr05{
	margin-right: rem($base-spacing-unit / 2) !important;
}

.tac{
	text-align: center !important;
}

.hidden{
	display: none !important;
}

.text--large{
	font-size: rem(18px) !important;
}

.disable-animation {
	transition: none !important;
}