/* Mixins
--------------------------------------------------- */
@mixin placeholder {
	&.placeholder { @content; }
	&:-moz-placeholder { @content; }
	&::-moz-placeholder { @content; }
	&:-ms-input-placeholder { @content; }
	&::-webkit-input-placeholder { @content; } 
}

// CSS arrows
@mixin arrow($color: #ccc, $direction: right, $height: 20px, $width: 20px) {
  height: 0;
	width: 0;

	@if($direction == right) {
	  border-top: $height/2 solid transparent;
	  border-bottom: $height/2 solid transparent;
	  border-left: $width solid $color;
  }

  @if($direction == left) {
	border-top: $height/2 solid transparent;
	border-bottom: $height/2 solid transparent;
	border-right: $width solid $color;
  }

  @if($direction == up) {
	border-left: $width/2 solid transparent;
	border-right: $width/2 solid transparent;
	border-bottom: $height solid $color;
  }

  @if($direction == down) {
	border-left: $width/2 solid transparent;
	border-right: $width/2 solid transparent;
	border-top: $height solid $color;
  }
}

// Animations
@mixin keyframe ($animation_name) {
	@-webkit-keyframes $animation_name {
		@content;
	}
 
	@-moz-keyframes $animation_name {
		@content;
	}
 
	@-o-keyframes $animation_name {
		@content;
	}
 
	@keyframes $animation_name {
		@content;
	}
}