$header__height      : $header-height
$header__line-height : 1.3
$header__font-size   : 20px
$header__spacing-y   : ($header-height - $header-height--inner) / 2

$header__logo-height    : $header-height--inner - 8px
$header__logo-spacing-y : ($header-height--inner - $header__logo-height) / 2

.header
    position: relative
    height: $header__height
    padding: $header__spacing-y 0
    overflow: hidden
    background: $palette-shade-zeta
    color: #fff
    z-index: 3


.header__logo
    height: $header__logo-height
    margin: $header__logo-spacing-y 0
    user-select: none
