$spinner__size                  : 20px
$spinner__size-large            : 80px
$spinner__border-width          : 3px
$spinner__border-width-large    : 5px
$spinner__track-color     : $palette-alpha
$spinner__highlight-color : $palette-base-ui

.spinner
    display: block
    height: $spinner__size
    width: $spinner__size
    border-radius: $spinner__size
    border: solid $spinner__border-width $spinner__track-color
    border-color: $spinner__track-color $spinner__track-color $spinner__track-color $spinner__highlight-color
    animation: spin 1s infinite linear

    &:after
        position: absolute
        top: 50%
        left: 50%
        margin-top: -($spinner__size / 2)
        margin-left: -($spinner__size / 2)

.spinner__subtext
    margin-top: $base-spacing-unit
    text-align: center
    color: $palette-shade-gamma
    font-size: rem(14px)


.spinner--large
    height: $spinner__size-large
    width: $spinner__size-large
    border-radius: $spinner__size-large
    border-width: $spinner__border-width-large

    &:after
        margin-top: -($spinner__size-large / 2)
        margin-left: -($spinner__size-large / 2)
