.visualiser
    position: relative
    cursor: default
    user-select: none

.visualiser__canvas
    position: relative
    display: block
    width: 100%
    z-index: 1

.visualiser__idle-msg-bg
    position: absolute
    top: 0
    right: 0
    bottom: 0
    left: 0
    z-index: 2
    transition: opacity .2s ease-in-out
    opacity: 0

    &.is-active
        opacity: 1

.visualiser__idle-msg
    background-color: rgba(0, 0, 0, .8)
    color: $palette-shade-alpha
    font-size: rem(13px)
    padding: 5px 10px
