%f-thin{
	font-family: $base-font-family;
	font-weight: 100;
}

%f-light{
	font-family: $base-font-family;
	font-weight: 300;
}

%f-regular{
	font-family: $base-font-family;
	font-weight: 400;
}

%f-bold{
	font-family: $base-font-family;
	font-weight: 700;
}

%f-extrabold{
	font-family: $base-font-family;
	font-weight: 900;
}

%f-icon{
    font-family: $base-font-family--icons;
}