html{
	font-family: $base-font-family;
	font-size: $base-font-size;
	line-height: $base-line-height;

	height: 100%;
}

body{
    background-color: $palette--body-bg;
    color: $palette--body-text;
    -webkit-font-smoothing: antialiased;
    top: 0 !important;
	height: 100%;
	overflow: auto;
  	-webkit-overflow-scrolling: touch;
  	font-weight: 300;
}