h1,.alpha{
    font-size: $h1-size;
}
h2,.beta{
    font-size: $h2-size;
}
h3,.gamma{
    font-size: $h3-size;
}
h4,.delta{
    font-size: $h4-size;
}
h5,.epsilon{
    font-size: $h5-size;
}
h6,.zeta{
    font-size: $h6-size;
}

h1, h2, h3, h4, h5, h6 {
	line-height: 1.4;
}


.title--primary{
    @extend %f-extrabold;
}

.title--secondary{
    @extend %f-light;
}