p{

}

.intro, .lede, .lead {
	@extend .title--secondary;
	font-size: rem($kilo-size);

	@include respond-max($beta){
		font-size: rem(20px);
	};
}

$blockquote-padding-left: $base-spacing-unit * 2.5;
blockquote{
	@extend .intro;
	font-size: rem($h2-size);
	position: relative;
	margin-left: rem($blockquote-padding-left);

	&:after{
		@extend %f-extrabold;
		position: absolute;
		content: "\“";
		top: 0;
		left: rem($blockquote-padding-left * -1);
		font-size: rem(85px);
		line-height: 1.15;
	}
	
	p{
		margin-bottom: 0;
	}

	strong { // quote source
		font-size: 1rem;
	}

	@include respond-max($beta){
		font-size: rem($h3-size);
		margin-left: rem($blockquote-padding-left * .75);

		&:after{
			font-size: rem(50px);
			left: rem($blockquote-padding-left * -.75);
		}
	};
}