:local(.styles) {
  position: relative;

  padding: 50px 0;

  border-top: 1px solid #CCC;

  h2 {
    margin-bottom: 50px;
  }

  a {
    font-size: 12px;
  }

  p {
    font-size: 14px;
    padding: 0 10%;
  }
}
