fieldset{
	border: none;
	padding: 0;
}

.form--capped{
	max-width: rem(350px);

	[type=text], button{
		width: 100%;
		margin-bottom: rem($base-spacing-unit);
	}
}


.input {
	appearance: none;
	width: 100%;
	padding: rem($base-spacing-unit) rem($base-spacing-unit);
	transition: all .25s ease-in-out;
	border-radis: 0;
    border: solid 1px transparent;

	&:focus{
		outline: none;
		background-color: #f7f7f7;
	}
}


.inline-form{
	display: flex;
}

	.inline-form__item {
		position: relative;
		&:not(:last-of-type) {
			margin-right: rem($base-spacing-unit);
		}
	}

	.inline-form__item--grow {
		flex-grow: 1;
	}