.content-padding-x{
	padding-left: rem($content-padding-x);
	padding-right: rem($content-padding-x);

	@include respond-max($gamma){
		padding-left: rem($content-padding-x * .25);
		padding-right: rem($content-padding-x * .25);
	};
}

.content-padding-y{
	padding-top: rem($content-padding-y);
	padding-bottom: rem($content-padding-y);

	@include respond-max($gamma){
		padding-top: rem($content-padding-y * .25);
		padding-bottom: rem($content-padding-y * .25);
	};
}

.content-padding{
	@extend .content-padding-x;
	@extend .content-padding-y;
}

.group{
	display: inline-block;
	width: 100%;
}

.group--capped{
	max-width: rem($content-max-width);
	margin: 0 auto;
}

.group-x{
	padding-left: rem($group-margin);
	padding-right: rem($group-margin);
}

.group-x--large{
	padding-left: rem($group-margin--large);
	padding-right: rem($group-margin--large);
}

.group-x--extralarge{
	padding-left: rem($group-margin--extralarge);
	padding-right: rem($group-margin--extralarge);
}

.group-y{
	margin-top: rem($group-margin);
	margin-bottom: rem($group-margin);
}

.group-y--large{
	margin-top: rem($group-margin--large);
	margin-bottom: rem($group-margin--large);
}

.group-y--extralarge{
	margin-top: rem($group-margin--extralarge);
	margin-bottom: rem($group-margin--extralarge);
}

.group--pull-up{
	position: relative;
	margin-top: rem(($group-margin--extralarge * -1) * 2);
	z-index: 3;
}
