@for $i from 0 to length($palette--names){
    .bg--#{nth($palette--names, $i+1)}{
        background-color: nth($palette--primary, $i+1);
    }

    .text--#{nth($palette--names, $i+1)}{
        color: nth($palette--primary, $i+1);
    }
}

.bg--dark{
	background-color: rgba(0,0,0,.2);
}

.bg--light{
	background-color: rgba(255,255,255,.2);
}

.bg--facebook{
	background-color: nth($palette--social, 1);
}

.bg--twitter{
	background-color: nth($palette--social, 2);
}

.bg--gradient{
	background: rgba(0,0,0,0.75);
	background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.75) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.75)));
	background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.75) 100%);
	background: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.75) 100%);
	background: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.75) 100%);
	background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.75) 100%);
}

.text--black{
	color: $palette--body-text;
}

.frame--med{
	border: solid 1px $palette--grey-med;
}