.search-results{
	@extend .cleanlist;
}
	.search-results__result{
		margin-bottom: rem($base-spacing-unit);
	}
		.search-results__result-title{
			@extend .title--secondary;
			font-size: rem(24px);
			color: $palette--black;

			&:hover{
				color: nth($palette--primary, 1);
			}
		}
		.search-results__result-text{
			margin-bottom: 0;
		}