.share-popup{
	
}
	.share-popup__body{
		padding: rem($base-spacing-unit) rem($base-spacing-unit);
		max-width: 80%;
	}

.share-popup-list{
	@extend .cleanlist;
}
	.share-popup-list__link{
		display: block;
		font-size: rem(16px);
		padding: rem($base-spacing-unit);
		border-top: solid 1px $base-ui-color;

		span{
			font-size: rem(30px);
			line-height: 1;
			margin-top: -4px;
		}

		&:hover{
			color: #fff;
		}
	}
	.share-popup-list__link--facebook{
		color: nth($palette--social, 1);

		&:hover{
			background-color: nth($palette--social, 1);
			border-color: nth($palette--social, 1);
		}
	}
	.share-popup-list__link--twitter{
		color: nth($palette--social, 2);

		&:hover{
			background-color: nth($palette--social, 2);
			border-color: nth($palette--social, 2);
		}
	}