.sidebar{
	background-color: $palette--grey-light;
	border-right: solid 1px $palette--grey-med;
}

	.sidebar__nav{
		@extend .cleanlist;

		ul{
			@extend .cleanlist;
		}

		a{
			display: block;
			padding: 0 rem($base-spacing-unit * 3) rem($base-spacing-unit / 2);
			color: $palette--black;
		}

		.current a {
			font-weight: 700;
		}

		& > li > a, & > li > ul > li > a{
			padding: rem($base-spacing-unit) rem($base-spacing-unit * 2);

			&:hover{
				background-color: $palette--grey-med;
			}
		}

		> li, > li > ul > li {
			border-bottom: solid 1px $palette--grey-med;

		}

		> li{
			display: none; // hide other items

			&.active {
				display: block; // display parent

				> a{
					font-weight: 700;
					background-color: $palette--grey-med;
				}
			}
		}

		
	}