.side-menu{
	background-color: nth($palette--primary, 2);
	padding-top: rem(27px);

	.side-menu-toggle{
		margin-left: rem($base-spacing-unit);
	}

	.primary-nav {
		margin: rem($base-spacing-unit) 0;

		.side-menu__link {
			display: block;
			font-size: rem(14px);
			color: #fff;
			height: auto;
			padding: rem($base-spacing-unit);
			border-bottom: solid 1px darken(nth($palette--primary, 2), 5%);

			&:after{
				display: none;
			}

			&:hover, &:focus{
				background-color: nth($palette--primary, 1);
				outline: none;
			}
		}
	}	
		.primary-nav__item{
			display: block;
			margin-left: 0;
		}
}



.side-menu-overlay{
	background-color: rgba(255,255,255,.6);
}