/* Lists
------------------------ */
@mixin cleanlist {
    padding: 0;
    margin: 0;
    list-style: none;
}

    @mixin cleanlist__item {
        text-indent: 0;

        &:before{
            display: none;
        }
    }


.cleanlist,
%cleanlist {
    @include cleanlist;
}
    .cleanlist__item,
    %cleanlist__item{
        @include cleanlist__item;
    }


.list-hor{
    @extend %cleanlist;
}
    .list-hor__item{
        @extend %cleanlist__item;
        display: inline-block;
    }

.list-hor--separated{
    @extend %cleanlist;
}

    .list-hor--separated__item{
        @extend %cleanlist__item;
        display: inline-block;
        position: relative;
        padding: 0;

        &:after{
            position: relative;
            display: inline-block;
            content: "|";
            left: -1px;
            color: #a9a9a9;
        }

        &:last-child{
            &:after{
                display: none;
            }
        }
    }

.justified-list{
    text-align: justify;
}
    .justified-list__item{
        display: inline;
    }  
    .justified-list__item--end {
        display: inline-block;
        width: 100%;
    }