$palette-alpha   : #1BBD59
$palette-delta   : #aaa
$palette-epsilon : #222

$palette-shade-alpha   : #E5E5E5
$palette-shade-beta    : #fdfdfd
$palette-shade-gamma   : #999
$palette-shade-delta   : #666
$palette-shade-epsilon : #222

$palette-base-ui   : $palette-delta
$palette-base-text : $palette-epsilon
$palette-base-bg   : #595a61
