@import '../../../src/containers/App/styles/screens';

:local(.styles) {
  position: relative;

  background: url(files/nyc.jpg);
  background-size: 100% auto;

  height: 500px;

  @media (min-width: 768px) and (max-width: 992px) {
    height: 340px;
  }

  @media (#{ $phone }) {
    height: 320px;
  }

  h1.title {
    color: #FFF;
    font-size: 60px;

    margin-top: 20%;
  }

  p {
    color: #FFF;
  }
}
