<?xml version='1.0' encoding='utf-8'?>
<widget id="co.djen.mdjen" version="1.0.0" xmlns="http://w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>DJEN</name>
    <description>
        Metal breakdown generator
    </description>
    <author href="http://rossmcmillan.co.uk" email="rossmcmillan92@gmail.com">
        Ross McMillan
    </author>
    <content src="index.html" />
    <preference name="DisallowOverscroll" value="true" />
    <preference name="android-minSdkVersion" value="14" />
    <preference name="StatusBarOverlaysWebView" value="false" />
    <preference name="StatusBarBackgroundColor" value="#101010" />
    <preference name="StatusBarStyle" value="blackopaque" />
    <plugin name="cordova-plugin-file" source="npm" spec="~4.1.1" />
    <plugin name="cordova-plugin-statusbar" />
    <plugin name="cordova-plugin-file-transfer" />
    <plugin name="cordova-open" />
    <plugin name="cordova-plugin-whitelist" source="npm" spec="1.1.0" />
    <platform name="android">
        <icon density="ldpi" src="assets/images/icons/36.png" />
        <icon density="mdpi" src="assets/images/icons/48.png" />
        <icon density="hdpi" src="assets/images/icons/72.png" />
        <icon density="xhdpi" src="assets/images/icons/96.png" />
        <!-- <icon density="xxhdpi" src="res/icon/android/drawable-xxhdpi-icon.png" /> -->
        <!-- <icon density="xxxhdpi" src="res/icon/android/drawable-xxxhdpi-icon.png" /> -->
        <splash src="assets/images/screens/200x320.png" density="port-ldpi" />
        <splash src="assets/images/screens/320x200.png" density="land-ldpi" />
        <splash src="assets/images/screens/320x480.png" density="port-mdpi" />
        <splash src="assets/images/screens/480x320.png" density="land-mdpi" />
        <splash src="assets/images/screens/480x800.png" density="port-hdpi" />
        <splash src="assets/images/screens/800x480.png" density="land-hdpi" />
        <splash src="assets/images/screens/720x1280.png" density="port-xhdpi" />
        <splash src="assets/images/screens/1280x720.png" density="land-xhdpi" />
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <icon src="assets/images/icons/57.png" width="57" height="57" />
        <icon src="assets/images/icons/58.png" width="58" height="58" />
        <icon src="assets/images/icons/87.png" width="87" height="87" />
        <icon src="assets/images/icons/72.png" width="72" height="72" />
        <icon src="assets/images/icons/76.png" width="76" height="76" />
        <icon src="assets/images/icons/114.png" width="114" height="114" />
        <icon src="assets/images/icons/120.png" width="120" height="120" />
        <icon src="assets/images/icons/144.png" width="144" height="144" />
        <icon src="assets/images/icons/152.png" width="152" height="152" />
        <splash src="assets/images/screens/320x480.png" width="320" height="480" />
        <splash src="assets/images/screens/480x320.png" width="480" height="320" />
        <splash src="assets/images/screens/640x960.png" width="640" height="960" />
        <splash src="assets/images/screens/960x640.png" width="960" height="640" />
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <allow-intent href="*" />
    <allow-navigation href="*" />
</widget>
