:local(.styles) {
  label {
    margin: 3px 0 7px;

    span.remove {
      display: inline-block;
      position: relative;
      
      top: -8px;
      margin-left: 10px;

      font-size: 10px;
      color: #CCC;

      &:hover {
        color: red;
      }
    }
  }
}
